*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: rgb(4, 223, 223);
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memory-game {
    height: 840px;
    width: 840px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 5000px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1,1,1,.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/

    transition: transform .9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 5px;
    background: #fff;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

/*flip card animation*/

.card.flip {
    transform: rotateY(180deg);
}

.counter {
    font-size: 3rem;
    margin-top: 20px;
    font-family: sans-serif;

    color: rgb(2, 165, 165);
}